<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        
        <ul>
    <% categories.forEach(category => { %>
        <li>
            <p><%= category.name %></p>
        </li>
    <% }) %>
        </ul>

    </main>

    <%- include('partials/footer') %>