<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        
        <ul>
            <li>
                <p>Environmental</p>
            </li>
            <li>
                <p>Educational</p>
            </li>
            <li>
                <p>Community Service</p>
            </li>
            <li>
                <p>Health and Wellness</p>
            </li>
        </ul>

    </main>

    <%- include('partials/footer') %>